.example-card {
    // max-width: 400px;
    height: 92vh;
  }
  

  .mat-card{
    background: hsla(0, 0%, 100%, 0.699);
    color: #000;
  }

  .width-full{
    width: 100%;
  }

  // ::ng-deep .mat-form-field-wrapper{
  //   padding: 0;
  // }

  ::ng-deep .mat-form-field-required-marker{
     display: none;
  }